<div class="container-fluid">
  <h1>รายการข้อมูล Employees</h1>
  <br />
  <a class="btn btn-success" routerLink="/add">Add Employee</a>
  <table class="table">
    <thead>
      <td><b>row</b></td>
      <td><b>Firstname</b></td>
      <td><b>Lastname</b></td>
      <td><b>Birthday</b></td>
      <td><b>Email</b></td>
      <td><b>Operation</b></td>
    </thead>
    <tbody>
      <tr *ngFor="let item of employeeList; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ item.firstname }}</td>
        <td>{{ item.lastname }}</td>
        <td>{{ item.birthday }}</td>
        <td>{{ item.email }}</td>
        <td>
          <a class="btn btn-warning" [routerLink]="['/edit', item._id]"
            >Update</a
          >
          &nbsp;
          <button
            type="button"
            class="btn btn-danger"
            (click)="onDelete(item._id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
